<a href="https://colab.research.google.com/github/malmusfer/Enron-fraud/blob/master/Enron_fraud.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

The Enron fraud is a big, messy and totally fascinating story about corporate malfeasance of nearly every imaginable type. The Enron email and financial datasets are also big, messy treasure troves of information, which become much more useful once you know your way around them a bit. We’ve combined the email and finance data into a single dataset, which you’ll explore in this mini-project.

In [2]:
!git clone https://github.com/udacity/ud120-projects

Cloning into 'ud120-projects'...
remote: Enumerating objects: 5046, done.
remote: Total 5046 (delta 0), reused 0 (delta 0), pack-reused 5046
Receiving objects: 100% (5046/5046), 19.64 MiB | 2.66 MiB/s, done.
Resolving deltas: 100% (4372/4372), done.

In [2]:
!python /content/ud120-projects/datasets_questions/explore_enron_data.py

Traceback (most recent call last):
  File "/content/ud120-projects/datasets_questions/explore_enron_data.py", line 20, in <module>
    enron_data = pickle.load(open("../final_project/final_project_dataset.pkl", "rb"))
FileNotFoundError: [Errno 2] No such file or directory: '../final_project/final_project_dataset.pkl'

In [3]:
import pickle
import pandas as pd
with open("/content/ud120-projects/final_project/final_project_dataset.pkl", "rb") as data_file:
  data_dict  = pickle.load(data_file)
  enron_data = pd.DataFrame.from_dict(data_dict, orient = 'index')

In [4]:
enron_data.head()

                  salary to_messages  ... restricted_stock director_fees
METTS MARK        365788         807  ...           585062           NaN
BAXTER JOHN C     267102         NaN  ...          3942714           NaN
ELLIOTT STEVEN    170941         NaN  ...          1788391           NaN
CORDES WILLIAM R     NaN         764  ...           386335           NaN
HANNON KEVIN P    243293        1045  ...           853064           NaN

[5 rows x 21 columns]

In [5]:
print("There are a total of {} people in the dataset." .format(len(enron_data.index)))

There are a total of 146 people in the dataset.

In [6]:
print("Out of which {} are POI and {} Non-POI." .format(enron_data['poi'].value_counts()[True], 
                                                 enron_data['poi'].value_counts()[False]))

Out of which 18 are POI and 128 Non-POI.

In [7]:
print("Total number of email plus financial features are {}. 'poi' column is our label.".format(len(enron_data.columns)-1))

Total number of email plus financial features are 20. 'poi' column is our label.

##What is the total value of the stock belonging to James Prentice?

In [8]:
 print("What is the total value of the stock belonging to James Prentice?   : {}".format(enron_data['total_stock_value']['PRENTICE JAMES']))

What is the total value of the stock belonging to James Prentice?   : 1095040

##How many email messages do we have from Wesley Colwell to persons of interest?

In [9]:
 print("How many email messages do we have from Wesley Colwell to persons of interest?   : {}".format(enron_data['from_this_person_to_poi']['COLWELL WESLEY']))

How many email messages do we have from Wesley Colwell to persons of interest?   : 11

##What’s the value of stock options exercised by Jeffrey K Skilling?

In [10]:
 print("What’s the value of stock options exercised by Jeffrey K Skilling?   : {}".format(enron_data['exercised_stock_options']['SKILLING JEFFREY K']))

What’s the value of stock options exercised by Jeffrey K Skilling?   : 19250000

##Of these three individuals (Lay, Skilling and Fastow), who took home the most money?

In [28]:
 print("Of these three individuals (Lay, Skilling and Fastow), who took home the most money? Mr. Skilling : {}, Mr. Lay : {}, Mr. Fastow : {} ".format(enron_data['total_payments']['SKILLING JEFFREY K'], enron_data['total_payments']['LAY KENNETH L'] , enron_data['total_payments']['FASTOW ANDREW S']))

Of these three individuals (Lay, Skilling and Fastow), who took home the most money? Mr. Skilling : 8682716, Mr. Lay : 103559793, Mr. Fastow : 2424083

In [30]:
enron_data.describe()

       salary to_messages  ... restricted_stock director_fees
count     146         146  ...              146           146
unique     95          87  ...               98            18
top       NaN         NaN  ...              NaN           NaN
freq       51          60  ...               36           129

[4 rows x 21 columns]

##How many folks in this dataset have a quantified salary? What about a known email address?

In [65]:
print( "How many folks in this dataset have a quantified salary? What about a known email address? {}, {}".format(95, (enron_data.shape[0]) - ((enron_data.email_address == 'NaN').sum())))

How many folks in this dataset have a quantified salary? What about a known email address? 95, 111

In [88]:
!python /content/ud120-projects/tools/feature_format.py

In [89]:
feature_list = ["poi", "salary", "bonus"] 
data_array = featureFormat(data_dict, feature_list )
label, features = targetFeatureSplit(data_array)